* {
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  padding: 0;
  margin: 0;
  color: #48555b;
  font-size: 11px;
}
ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
}
h1,
h2,
h3,
h4,
h5 {
  padding: 0;
  margin: 0;
  text-transform: uppercase;
}
h2 {
  font-size: 18px;
}
p {
  color: #48555b;
  margin: 0;
  padding: 0;
}
.btn {
  background-color: #00a4e5;
  border: 1px solid #00a4e5;
  font-weight: bold;
  font-size: 13px;
  padding: 8px 29px;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 15px;
}
/* header */
.header {
  padding-top: 41px;
  color: #fff;
  background: url(../img/background-header.jpg) no-repeat center top / cover;
  text-align: center;
  height: 95vh;
  position: relative;
}
.hamburger {
  display: none;
}
.offer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.offer__title {
  font-family: "Bebas Neue";
  font-weight: 400;
  text-transform: uppercase;
  font-size: 60px;
  line-height: 70px;
  letter-spacing: 6px;
}
.offer__subtext {
  font-size: 16px;
  color: #fff;
}
.scroll {
  letter-spacing: 4px;
  position: absolute;
  left: 50%;
  top: 90%;
  transform: translate(-50%, -50%);
}
/* nav */

.nav {
  padding-top: 24px;
}
.nav::after {
  content: "";
  position: absolute;
  width: 100%;
  bottom: -20px;
  border-bottom: 1px solid #e6e6e6;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.menu__nav {
  width: 45%;
}

.menu__list {
  display: flex;
  justify-content: space-between;
}
.menu__item {
  width: fit-content;
}

.menu__link {
  font-size: 12px;
  color: #48555b;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 1px;
}
.menu__link:hover {
  color: #00a4e5;
  transition: 0.2s;
}
/* our-story */

.our-story {
  padding: 60px 0;
}
.our-story-title {
  text-align: center;
}
.line {
  border-bottom: 2px solid #00a4e5;
  height: 2px;
  width: 50px;
  margin: 0 auto;
  padding-top: 10px;
}
.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 85px;
}

.about__history {
  width: 405px;
  letter-spacing: 0.01em;
}
.about__history-title {
  text-transform: none;
  font-size: 20px;
  line-height: 27px;
  padding-bottom: 30px;
  letter-spacing: 0.01em;
}
.about__history-title span {
  color: #00a4e5;
}
.about__history-text {
  font-size: 13px;
  line-height: 23px;
}
.about__abilities-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  width: fit-content;
  margin-top: 25px;
}
.about__abilities-item {
  position: relative;
}
.about__abilities-text {
  position: absolute;
  color: #fff;
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  top: 0;
  padding: 15px;
}
/* our-capabilities */

.our-capabilities {
  padding: 60px 0;
}
.services-info {
  display: grid;
  grid-template-columns: 1fr auto auto;
  grid-gap: 32px;
  align-items: center;
}
.services-info__title {
  position: relative;
}
.services-info__title::after {
  content: "";
  border-bottom: 2px solid #00a4e5;
  height: 2px;
  width: 50px;
  position: absolute;
  bottom: -11px;
  left: 0;
}
.services-info__text {
  width: 385px;
}
.services-info__link {
  width: fit-content;
  margin-left: 32px;
}
.our-skills-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 28px;
  margin-top: 80px;
}
.our-skills-list__item {
  border: 1px solid #e6e6e6;
  padding: 38px 22px;
}
.our-skills-list__title {
  font-size: 16px;
  line-height: 24px;
  margin-top: 25px;
  margin-bottom: 13px;
}
.our-skills-list__text {
  font-size: 13px;
  line-height: 23px;
  letter-spacing: 0.01em;
}
/* call-to-action */

.call-to-action {
  padding-top: 60px;
  background: url(../img/background-build.jpg) no-repeat center bottom / cover;
  height: 500px;
}
.question {
  text-align: center;
  padding-top: 120px;
}
.question__title {
  font-size: 30px;
  line-height: 36px;
  width: 350px;
  margin: 0 auto;
  text-transform: none;
}
.question__button {
  display: inline-block;
  margin-top: 40px;
}
/* sending-mail */

.sending-mail {
  background-color: #171819;
  padding: 30px 0;
}
.mailing {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mailing__title {
  color: #fff;
  text-transform: none;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: 0.03em;
  margin-right: 70px;
}
.mailing__form {
  position: relative;
  height: 35px;
  align-items: center;
  display: flex;
}

.mailing__input {
  width: 250px;
  outline: none;
  border: 1px solid #979797;
  box-sizing: border-box;
  height: 100%;
  padding: 10px;
}
.mailing__input::placeholder {
  font-size: 14px;
  line-height: 19px;
}
.mailing-button {
  width: fit-content;
  height: 100%;
  display: inline-block;
}

/* footer */

.footer {
  background-color: #141a20;
  padding-top: 40px;
}
.footer p {
  color: #fff;
  font-weight: 400;
}
.footer-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 70px;
}

.footer-info {
  width: 220px;
}
.footer-title {
  letter-spacing: 0.07em;
  font-size: 11px;
  line-height: 15px;
  color: #fff;
  font-weight: 400;
}
.footer-info__title {
  margin-bottom: 10px;
}
.footer-info__logo {
  margin-top: 19px;
  margin-bottom: 15px;
}

.footer-links__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 25px;
  margin-top: 10px;
}
.footer-links__link {
  letter-spacing: 0.07em;
  font-weight: 600;
  font-size: 11px;
  line-height: 25px;
  white-space: nowrap;
}

.footer-contacts__title {
  margin-bottom: 15px;
}
.footer-contacts__phone {
  margin: 20px 0;
}
.footer-networks {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
}
.footer-networks__img {
  width: 12px;
  height: 12px;
}
.footer-label {
  font-weight: 400;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.07em;
  color: #fff;
  margin-top: 40px;
  padding: 22px 0;
  background-color: #171819;
  background-size: cover;
  text-align: center;
}
